body {
    margin: 0;
    padding: 0;
  }
  
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100vh;
  }
  
  .sidebar {
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
    background-color: #dee1e6;
    padding: 1rem;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 1rem;
    padding: 0;
  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
  
  .menu a:hover {
    color: #323232;
  }
  
  .menu i {
    margin-right: 5px;
  }
  
  .contenido {
    flex: 1 1 auto;
    background-color: #ffffff;
    text-align: center; /* opcional, para centrar el contenido horizontalmente */
  }
  

  .contenido img{
    max-width: 100%;
    height: auto;
  }

  footer {
    width: 100%;
    background-color: #dee1e6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .sidebar {
      flex: 0 0 auto;
      width: 100%;
      height: auto;
    }
    
    .contenido {
      flex: 1 1 auto;
      width: 100%;
      margin-top: 20px;
    }
    
    footer {
      position: static;
      margin-top: 20px;
    }
  }
  
  /* Estilos para escritorio */
  @media only screen and (min-width: 768px) {
    body {
      margin: 0;
      padding: 0;
    }
  
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      height: auto;
    }
  
    .sidebar {
      flex: 0 0 auto;
      width: 250px;
      height: auto;
      background-color: #dee1e6;
    }
  
    .contenido {
      flex: 1 1 auto;
      background-color: #ffffff;
    }
  
    footer {
      width: 100%;
      background-color: #dee1e6;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }
  }
  